/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

.success-snackbar {
  background-color: #4caf50;
  color: white;
}

.error-snackbar {
  background-color: #f44336;
  color: white;
}

.warning-snackbar {
  background-color: #ff9800;
  color: black;
}

.info-snackbar {
  background-color: #2196f3;
  color: white;
}
